body {
  background-color: rgb(49, 48, 48) ;
}

header {
  width: 30%;
  margin: auto;
  color: antiquewhite;
}


.form-entrada {
  background-color: beige;
  width: 60%;
  border-radius: 10px;
  border: solid 1px;
  margin:  auto;
  height: 200px;
}

#form-geral {
  padding-top: 30px;
  width: 50%;
  margin: auto;
}